<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12" id="header-mid">
                <h1>Eat-Da-Burger</h1>
                <h2>Make a Burger</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style=" margin:auto; text-align:center;">
                <panel>
                    
                    <form class="create-form" action="burgers/create" method="POST">
                        <div class="form-group">
                        <label for="newburger" id="color-override">Make a Burger:</label>
                        <input type="text" class="form-control" id="burger" name="burger">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="addburger">Place Your Order</button>
                    </form>
                </panel>
            </div>
        </div>
    </div>

    <div class="row">
    <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading " id="lefthead">New Burgers</div>
                    <div class="panel-body">
                        {{#each burger}}
                        {{#unless this.devoured}}
                            <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <form class="inline-form" action="/?_method=PUT" method="POST">
                                <div class="form-group">
                                <input type="hidden" name="id" type="text" value="{{this.id}}"/>
                                <button class="btn btn-warning" type="submit">Devour it!</button>
                                </div>
                            </form>
                        {{/unless}}
                        {{/each}}
                    </div> 
                </div>
            </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burger}}
                            {{#if this.devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                    <form class="inline-form" action="/{{this.id}}?_method=DELETE" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" name="id" type="text" />
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </div>
                                </form>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>